.nuget
packages
TeamMnMGroupingWebApp.Tests
obj
bin
/TeamMnMGroupingWebApp/TeamMnMGroupingWebApp/TeamMnMGroupingWebApp.csproj.user
/TeamMnMGroupingWebApp/TeamMnMGroupingWebApp/Web.Release.config
/TeamMnMGroupingWebApp/TeamMnMGroupingWebApp/Web.Debug.config
