packages
obj
bin
/TeamMnMGroupingWebApp/TeamMnMGroupingWebApp/TeamMnMGroupingWebApp.csproj.user
/TeamMnMGroupingWebApp/TeamMnMGroupingWebApp/Web.Release.config
/TeamMnMGroupingWebApp/TeamMnMGroupingWebApp/Web.Debug.config
/SlcClient/SlcClient/SlcClient.csproj.user
/TeamMnMGroupingWebApp/TeamMnMGroupingWebApp.Azure/TeamMnMGroupingWebApp.Azure.ccproj.user
