<div id="show-more-data-modal" class="modal hide fade" style="width:25em;">  
    <div class="modal-body">       			    	   		
	    <div style="text-align:center; margin-bottom:0.5em;">select what you want to show</div>
	    <div class="modal-attributes-list-div">
            <ul id="modal-attributes-list">
	       	</ul>
        </div>
	    <div class="modal-attributes-btn-div">
            <button class="btn attributes-save-btn">Ok</button>
	       	<button class="btn" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>