<div id="user-inactivity-modal" class="modal hide fade">  
	<div class="modal-body">       			    	   		
		<p>
				Your session has expired. Please login again.
		</p>
		<div class="modal-attributes-btn-div">
			<button class="btn user-inactivity-ok" data-dismiss="modal">Login</button>
		</div>
	</div>
</div>