<!DOCTYPE html>
<html>
	<head>
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        <title>Student Grouping Tool - Group Selection</title>
		<link rel="stylesheet" href="~/Content/vendor/select2/css/select2.css" />		
		<link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/Content/vendor/antiscroll/css/antiscroll.css" />
        <link rel="stylesheet" href="~/Content/vendor/fileupload/css/jquery.fileupload-ui.css" />
        <link rel="stylesheet" href="~/Content/css/core.css" />
		<link rel="stylesheet" href="~/Content/css/groupSelection.css" />	
	</head>
	<body>
		<div id="group-selection">
            <div class="inbloom-header row-fluid">
                <img id="inbloom-logo" src="~/Content/img/inbloom-logo.png" alt="inBloom Logo" />                       
                <div class="header-title">Group Selection</div>    
                <div style="float:right; margin-top:-0.5em">     
                    <span id="help-btn">help</span>
			        <span id="logout-btn">log out</span>
                </div>
            </div>
			<div class="row-fluid">                
	             <div class="span12 top-bar-controls navbar affix-top">                     
					<div id="studentsBtnGrp" class="span5">
						<div class="row-fluid">
							<div class="span4">								
								<button id="edit-multiple-groups-btn" class="btn btn-info">edit multiple groups</button>
							</div>
							<div class="span8">								
                                <input type="text" id="group-search-txt" class="topbar-txt" placeholder="search for a group" />
                                <img id="search-student-icon" src="~/Content/img/search-icon.png" />
                                <button class="btn group-search-clear-btn">clear</button>
							</div>
						</div>		 
					</div>
					<div id="create-groups-ctrls" class="span4">
						<img class="add-group-btn" src="~/Content/img/add-icon.png"/>
						<span>create groups</span>
						<input type="text" class="num-groups-create-txt topbar-txt" placeholder="# of groups to create"/>
						<button id="create-groups-btn" class="btn btn-success">create</button>
					</div>
				</div>	
            </div>
            <div class="row-fluid main-content">
            	<div class="span6 group-section-div">
                    <img src="/Content/img/sel-group-indicator-icon.png" class="group-indicator-arrow" style="
                        overflow: visible;">          
                    <div class="box-wrap antiscroll-wrap">
                        <div class="box">
                            <div class="antiscroll-inner">  
                                <div class="box-inner group-section-list">
                                    
                                </div>          
                            </div>
                        </div>
                    </div>                     
            	</div>
            	<div class="span6 group-details" style="display:none">
            		<div class="box-wrap antiscroll-wrap">
                        <div class="box">
                            <div class="antiscroll-inner">  
                                <div class="box-inner group-details-inner">
                                    <div class="group-name">
            			                <h3 style="display:inline">
                                            <span class="group-name-txt">Group Details Page</span>
                                            <textarea maxlength="20" class="group-name-txtarea"></textarea>
            			                </h3>
                                        <img class="group-details-btn edit-group-icon" src="~/Content/img/group-edit-icon.png" />
                                        <img class="group-details-btn save-group-icon" src="~/Content/img/save-icon.png" />
            		                </div>
            		                <div>
            			                <div class="group-description"></div>
                                        <textarea maxlength="1024" class="group-description-txtarea"></textarea>
            		                </div>
            		                <div class="details-section-title">
            			                <div class="group-more-data">
            				                <span id="members-div">Members</span>
            				                <button id="show-more-data-btn" class="btn btn-success">show more data</button>
            			                </div>
            			                <div class="group-add-student">
	            			                <select id="student-search-txt" data-placeholder="Add a student to this group">
	            				                <option></option>
	            			                </select>
	            			                <button id="add-student-btn" class="btn btn-success">add</button>
            			                </div>
            		                </div>
            		                <div class="member-list">
            			
            		                </div>
            		                <div>
            			                <div class="group-lesson-plan-top details-section-title">
	            			                <div class="group-lesson-plan">
	            				                <span id="group-lesson-plan-title">Lesson Plan</span>            				
	            			                </div>
	            			                <div class="group-lesson-plan-upload">
                                                <!--<div class="fakeupload">
		                                            <input type="text" class="fake-upload-txt"/>
		                                            <input type="file" class="real-upload-txt" class="realupload"/>
                                                    <button class="btn btn-success add-attachment-btn">add</button>	
	                                            </div>-->
	            				                 <form id="file_upload">
	                                                <div class="fileupload-buttonbar">
		                                                <div class="progressbar fileupload-progressbar"></div>
		                                                <span class="fileinput-button">
			                                                <a href="javascript:void(0)" class="upload-image">Upload Lesson Plan</a>
			                                                <input id="file-input-field" type="file" name="files[]" multiple>
		                                                </span>
	                                                </div>
                                                </form>                                                
	            				                	
	            			                </div>           				
            			                </div>
						                <div class="group-lesson-plan-bottom">
							                <a class="lesson-plan-file-name"> </a>
							                <img class="lesson-plan-remove-icon" src="~/Content/img/trash-icon.png"/>					
						                </div> 
            		                </div>
            	                </div>

                                </div>          
                            </div>
                        </div>
                    </div>                     
                    
            </div>
            <div class="inbloom-footer row-fluid">
                <span class="inbloom-trademark">inBloom is a trademark of inBloom, Inc.</span>
            </div>
        </div>
              
       <!-- Load third part scripts -->
		<script src="~/Content/vendor/jquery/js/jquery.min.js"> </script>
		<Script src="~/Content/vendor/underscore/js/underscore.min.js"> </Script>
		<script src="~/Content/vendor/backbone/backbone.min.js"> </script>       
		<script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"> </script>
		<script src="~/Content/vendor/require/require.min.js" data-main="/Content/js/config/groupSelection"> </script>
        <script src="~/Content/vendor/handlebars/handlebars.js"> </script>

	</body>
    </html>